
<nav style="background-color: rgb(14, 42, 133);">
  <a href="/"><h1>CSPMS</h1></a>
  <ul>
<<<<<<< HEAD
    <li><a data-text="Sign Up" href="/auth/signup">Sign Up</a></li>
    <li><a data-text="Login" href="/auth/login">Login</a></li>
=======
    <li><a data-text="Sign Up" href="/sign-up">Sign Up</a></li>
    <li><a data-text="Login" href="/home">Login</a></li>
>>>>>>> 870c3a8169dadfefb2906b1203f4250da1047b71
  </ul>
</nav>